.container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0.4rem 0 0.4rem 10rem;
  background-color: white;
  gap: 0.2rem;
  border-top: 0.5px solid rgb(127, 127, 244);
}

.segment {
  text-decoration: none;
  font-size: 0.9rem;
  transition: 0.2s ease;
}
.segment:hover {
  color: rgb(161, 161, 241);
}
